html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#adContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  opacity: 0;
}

#description {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
}

#display-url {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  opacity: 0.7;
}

#headline {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

#button {
  box-shadow: 0px 3px 3px rgba(0,0,0,.3);
  font-family: 'Roboto';
  border-radius: 50%;
}

#color-slot1 {
  position: absolute;
  opacity: 0.9;
}

#color-slot2 {
  position: absolute;
  opacity: 0.9;
}

#adContent[data-variation]:not([data-variation='']) {
  opacity: 1;
}

[data-variation*='square1'] #button,
[data-variation*='tower1'] #button,
[data-variation*='banner1'] #button,
[data-variation*='square1'] #headline,
[data-variation*='tower1'] #headline,
[data-variation*='banner1'] #headline {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

[data-variation*='square1'] #description,
[data-variation*='square1'] #display-url,
[data-variation*='tower'] #description,
[data-variation*='tower'] #display-url {
  text-align: center;
}

[data-variation*='banner_small'] #headline {
  -webkit-animation: frames1 9s ease-in-out 2 both;
  animation: frames1 9s ease-in-out 2 both;
}

/* small size animations */
[data-variation*='banner_small'] #headline {
  -webkit-animation: frames1 9s ease-in-out 2 both;
  animation: frames1 9s ease-in-out 2 both;
}

[data-variation*='banner_small'] #description {
  -webkit-animation: frames2 9s ease-in-out 2 both;
  animation: frames2 9s ease-in-out 2 both;
}

[data-variation*='banner_small'] #display-url {
  -webkit-animation: frames3 9s ease-in-out 2 both;
  animation: frames3 9s ease-in-out 2 both;
}

[data-variation*='banner'] #color-slot1 {
  box-shadow: 1px 0px 1px rgba(0,0,0,.3);
}

[data-variation*='banner'] #button {
  box-shadow: 0px 2px 2px rgba(0,0,0,.3);
}

[data-variation*='banner_small'] #color-slot2 {
  box-shadow: 1px 0px 2px rgba(0,0,0,.3);
  opacity: 1.0;
}

@-webkit-keyframes
frames1 {
  0%, 30% {opacity:1; -webkit-transform:translateY(0);}
 35%, 95% {opacity:0; -webkit-transform:translateY(-200%);}
     100% {opacity:1; -webkit-transform:translateY(0);}
}

@keyframes
frames1 {
  0%, 30% {opacity:1; transform:translateY(0);}
 35%, 95% {opacity:0; transform:translateY(-200%);}
     100% {opacity:1; transform:translateY(0);}
}

@-webkit-keyframes
frames2 {
  0%, 30% {opacity:0; -webkit-transform:translateY(200%);}
 35%, 65% {opacity:1; -webkit-transform:translateY(0);}
70%, 100% {opacity:0; -webkit-transform:translateY(-200%);}
}

@keyframes
frames2 {
  0%, 30% {opacity:0; transform:translateY(200%);}
 35%, 65% {opacity:1; transform:translateY(0);}
70%, 100% {opacity:0; transform:translateY(-200%);}
}

@-webkit-keyframes
frames3 {
  0%, 65% {opacity:0; -webkit-transform:translateY(200%);}
 70%, 95% {opacity:1; -webkit-transform:translateY(0);}
     100% {opacity:0; -webkit-transform:translateY(200%);}
}

@keyframes
frames3 {
  0%, 65% {opacity:0; transform:translateY(200%);}
 70%, 95% {opacity:1; transform:translateY(0);}
     100% {opacity:0; transform:translateY(200%);}
}
